* {
    box-sizing: border-box;
  }

@media screen and (max-width: 700px) {
    .image {   
        flex-direction: column;
    }
}

.header{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.containerm{
    display: flex;
}

.containerm div{
    border:2px #ccc solid;
    padding: 10px;
}

.lside{
    width: 25%;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

.main{
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 10px;
}

.rside{
    width: 25%;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;

}

.image {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
/*COMIENZA LA SEGUNDA PARTE ===================================== */


.lside2{
    width: 25%;
    border:2px #ccc solid;
    padding: 10px; 
    font-family: 'Courier New', Courier, monospace;

}

.navbar{
    display: flex;
    flex-direction: column;
    width: 75%;
    border:2px #ccc solid;
    padding: 10px;

}

.secciones-item1{
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    border:2px #ccc solid;
    padding: 10px;
    background-color: coral;

}

.secciones-item2{
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    border:2px #ccc solid;
    padding: 10px;
    background-color: rgb(86, 214, 214);

}

.secciones-item3{
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    border:2px #ccc solid;
    padding: 10px;
    background-color: goldenrod;

}

.secciones-item4{
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    border:2px #ccc solid;
    padding: 10px;
    background-color: aquamarine;

}

.secciones-item5{
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    border:2px #ccc solid;
    padding: 10px;
    background-color: crimson;

}

.links{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    
}