@media screen and (max-width: 700px) {
    .image {   
        flex-direction: column;
    }
}

.header{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.containerm{
    display: flex;

}

.containerm div{
    border:2px #ccc solid;
    padding: 10px;
}

.lside{
    flex: 0.5;
    font-family: 'Courier New', Courier, monospace;
}

.main{
    flex: 2;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.rside{
    flex: 0.5;
    font-family: 'Courier New', Courier, monospace;

}

.image {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
/*COMIENZA LA SEGUNDA PARTE ===================================== */

.containerm2{
    display: flex;

}
.lside2{
    flex: 10px;
    border:2px #ccc solid;
    padding: 10px; 

}

.navbar{
    flex: 66%;
    border:2px #ccc solid;
    padding: 10px;

}